{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="game_screen container">
          <div class="game_left_column">
              <div class="game_timer">
                  <div v-if="!has_game_ended">
                      ${phase} ${turn}, ${timer_minutes} Minutes ${timer_seconds} Seconds Remaining
                  </div>
                  <div v-if="has_game_ended">
                      Game Over
                  </div>
              </div>
              <div class="game_chat">

              </div>
          </div>
          <div class="players_list">
              ${test}
              <button v-on:click="test++"></button>
          </div>
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_game.js')}}"></script>