{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
    var get_ingame_players_url = "{{=URL('api', 'get_ingame_players')}}"
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="game_screen container">
          <div class="game_left_column">
              <div class="game_timer">
                  <div v-if="!has_game_ended">
                      ${phase} ${turn}, ${timer_minutes} Minutes ${timer_seconds} Seconds Remaining
                  </div>
                  <div v-if="has_game_ended">
                      Game Over
                  </div>
              </div>
              <div class="game_chat">

              </div>
          </div>
          <div class="players_list">
              <table class="fill" id="user_selector">
                  <tbody>
                    <tr class="center" v-on:click="get_new_images(user_id, true)" >
                      <td>{{=auth.user.first_name}} {{=auth.user.last_name}}</td>
                    </tr>
                    <tr class="center" v-for="user in users">
                      <!-- This row is you; code for getting your own images, and for setting self_page -->
                      <td >${user.user_email} </td>
                    </tr>
                    <!-- Then, one row for each person. -->
                  </tbody>
                </table>
              ${test}
              <button v-on:click="test++"></button>
          </div>
        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_game.js')}}"></script>