{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var my_url = "{{=URL('api', 'my_method')}}";
    var get_ingame_players_url = "{{=URL('api', 'get_ingame_players')}}";
    var send_msg_url = "{{=URL('api', 'send_msg')}}";
    var cast_vote_url = "{{=URL('api', 'cast_vote')}}";
    var swap_players_url = "{{=URL('api', 'swap_player_roles')}}";
    var update_roles_url = "{{=URL('api', 'update_roles')}}";
    var get_new_msgs_url = "{{=URL('api', 'get_new_msgs')}}";
    {{if auth.user is not None:}}
        var user_id = "{{=auth.user.id}}";
    {{pass}}
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->
        <div class="game_screen container">
          <div class="game_left_column">
              <div class="game_timer">
                  <div v-if="!has_game_ended">
                      ${phases[phase_count]} ${turn}, ${timer_minutes} Minutes ${timer_seconds} Seconds Remaining
                  </div>
                  <div v-if="has_game_ended">
                      Game Over
                  </div>
              </div>
              <div class="game_chat">
                  <div class="msg_list_container">
                      <div class="msg_list">
                          <div v-for="message in messages">
                              <div class="msgs">${message.author}: ${message.msg}</div>
                          </div>
                      </div>
                  </div>
                  <div class="msg_input" v-if="is_day">
                      <input type="text" v-model="new_msg" v-on:keyup.enter="send_msg">
                  </div>
              </div>
          </div>
          <div class="players_list">
              <table class="fill" id="user_selector">
                  <tbody>
                      <tr class="center" v-for="user in users" v-on:click="perform_action(user_id, user.user_id)">
                          <td>${user.username} ${user.role}</td>
                      </tr>
                  </tbody>
              </table>
              <div>
                 <pre>${player_log}</pre>
             </div>
          </div>

        </div>
    </div>

</div>

<script src="{{=URL('static', 'js/default_game.js')}}"></script>