{{extend 'layout.html'}}

{{block head}}
<link href="{{=URL('static','css/stupid.css')}}" rel="stylesheet" type="text/css"/>
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var users_url = "{{=URL('api', 'get_users')}}";
    var update_users_url = "{{=URL('api', 'update_users')}}";
    var send_msg_url = "{{=URL('api', 'send_msg')}}";
    var get_new_msgs_url = "{{=URL('api', 'get_new_msgs')}}";
	var add_game_url = "{{=URL('api', 'add_game')}}"; 
	var get_games_url = "{{=URL('api', 'get_games')}}";
</script>
{{end}}

<div class="main_content">
    <!-- welcome screen when not logged in -->
    <div id="vue-div" class="lobby_main_content display:none">
      <div class="welcome_main_content" v-if="!logged_in">
        <div class="welcome_screen">
          <h2 class="welcome_pt1">Welcome to</h2>
          <h1 class="welcome_pt2">Mafia Online</h1>

          <div class="welcome_btn_list">
            <a class="welcome_btn rounded" href="{{=URL('default', 'user', args='login')}}">Log In</a>
            <a class="welcome_btn rounded" href="{{=URL('default', 'user', args='register')}}">Sign Up</a>
          </div>
        </div>
      </div>

      <!-- main lobby when logged in -->
      <div class="main_lobby_content container" v-if="logged_in && !creating_game">
        <div class="main_lobby_games">
          <p class="game_header">Games</p>
		  <div v-for="game in games">
			${game.game_name}
			</div>
        </div>
        <div class="main_lobby_chat">
            <div class="msg_list_container">
                <div class="msg_list">
                    <div v-for="message in messages">
                        <div class="msgs">${message.author}: ${message.msg}</div>
                    </div>
                </div>
            </div>
            <div class="msg_input">
                <input type="text" v-model="new_msg" v-on:keyup.enter="send_msg">
            </div>
        </div>
        <div class="main_lobby_right_column">
          <div class="online_users_list">
              <p class="users_list_header">Online Users</p>
              <div v-for="user in users">
                  ${user.username}
              </div>
          </div>
          <div class="main_lobby_buttons">
            <a class="logout_btn rounded" href="{{=URL('default', 'user', args='logout')}}">Log Out</a>
			<a class="logout_btn rounded" v-on:click="create_id" >Create Game</a>
          </div>
        </div>

      </div>
	  <div class="creation_form" v-if="creating_game"> 
		<p class="game_id"> Game name: </p>
		<input id="make_game" v-model="new_game"/>
		<button v-on:click="create_game">Submit</button>
		<button v-on:click="cancel_create">Cancel</button> 
	  </div> 
    </div>

    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
