/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

div.welcome_main_content{
  height: 100%;
  background: url('../images/welcome_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.welcome_screen{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2.welcome_pt1{
  padding: 0;
  margin: 0;
}
h1.welcome_pt2{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}
div.welcome_btn_list {
  padding: 20px;
}

.welcome_btn, button {
  width: 10em;
  padding:7px 30px;
  margin:0 0.5em 0.5em 0;
  display:inline-block;
  background-color:firebrick;
  font-size:1.5em;
  color:white
}

.page_body{
  height: 85%;
  background-color: white;
}

div.user_html_background{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  height: 100%;
  background: url('../images/welcome_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.user_html{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2.user_html_header{
  margin-left: 0.2em;
  font-family: Verdana, Geneva, sans-serif;
}

div.user_html_body .control-label{
  font-size: 1.4em;
}

div.user_html_body .form-control{
  border: 1px solid gainsboro;
}

div.user_html_body .btn, button {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 5em;
  padding:7px 15px 10px 15px;
  margin:0 0.5em 0.5em 0.5em;
  display:inline-block;
  background-color:firebrick;
  font-size:1.5em;
  color:white
}

div.user_html_body .reset_pass_btn{
  width: 11em;
  position: absolute;
  left: 0em;
  bottom: -2em;
}

div.main_lobby_content{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  height: 100%;
  background: url('../images/main_lobby_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.main_lobby_content div.main_lobby_games{
    float: left;
    height: 80%;
    width: 20%;
    margin: 3.5% 2.5% 5.5% 1.45%;
    border: 1px solid #000;
    overflow: auto;
    padding: 5px 15px;
    font-size: 20px;
}

div.main_lobby_content div.main_lobby_games p.game_header{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

div.main_lobby_content div.main_lobby_chat {
    float: left;
    height: 80%;
    width: 50%;
    margin-top: 3.5%;
    margin-bottom: 5.5%;
    border: 1px solid #000;
    overflow: auto;
    padding: 5px 10px;
}

div.main_lobby_content div.main_lobby_right_column{
    float: left;
    height: 80%;
    width: 20%;
    margin: 3.5% 2.5% 0 2.5%;
}

div.main_lobby_content div.main_lobby_right_column div.online_users_list{
    height: 82%;
    border: 1px solid #000;
    overflow: auto;
    padding: 5px 15px;
    font-size: 20px;
}

div.main_lobby_content div.main_lobby_right_column div.online_users_list p.users_list_header{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

div.main_lobby_content div.main_lobby_right_column div.main_lobby_buttons{
    float: bottom;
    padding-top: 12px;
    padding-left: 5.5px;
}

.logout_btn, button {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 10em;
  text-align: center;
  margin:0 0.5em 0.5em 0.5em;
  display:inline-block;
  background-color:firebrick;
  font-size:1.5em;
  color:white
}

div.game_screen {
    height: 100%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    background: url('../images/game_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

div.game_left_column {
    float: left;
    color:white;
    width: 67.5%;
    margin-top: 3.5%;
    margin-left: 2.5%;
}


div.game_timer {
    height: 5%;
    width: 70%;
    margin:0 auto;
    text-align: center;
    font-size: 25px;
}

div.game_chat {
    height: 73%;
    margin-top: 1%;
    border: 1px solid #000;
    padding: 5px 10px;
    overflow: auto;
}

div.players_list {
    float: right;
    height: 80%;
    width: 25%;
    margin: 3.5% 2.5% 0 2.5%;
    border: 1px solid #000;
    overflow: auto;
    padding: 5px 15px;
    font-size: 20px;
}

.msg_list_container {
    display: table;
    height: 90%;
    padding-bottom: 10px;
    float: top;
    overflow: auto;
}

.msg_list {
    display: table-cell;
    vertical-align: bottom;
}

div.msg_input {
    float: bottom;
    border: 1px solid #000;

}

.game_lobby_screen {
    color: black;
    height: 100%;
}

tr {
    color: white;
}

div.game_lobby_screen div.game_lobby_roles {
    float: left;
    height: 80%;
    width: 20%;
    margin: 3.5% 2.5% 5.5% 1.45%;
    border: 1px solid #000;
    overflow: auto;
    padding: 5px 15px;
    font-size: 20px;
}

div.game_lobby_screen div.game_lobby_roles p.roles_header{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

div.game_lobby_screen div.game_lobby_right_column{
    float: right;
    height: 80%;
    width: 20%;
    margin: 3.5% 2.5% 0 2.5%;
}

div.game_lobby_screen div.game_lobby_right_column div.game_users_list{
    height: 82%;
    border: 1px solid #000;
    overflow: auto;
    padding: 5px 15px;
    font-size: 20px;
}

div.game_lobby_screen div.game_lobby_right_column div.game_users_list p.game_users_list_header{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

div.game_lobby_screen div.game_lobby_right_column div.game_lobby_buttons {
    float: bottom;
    padding-top: 12px;
    padding-left: 5.5px;
}

.logout_btn, button {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 10em;
  text-align: center;
  margin:0 0.5em 0.5em 0.5em;
  display:inline-block;
  background-color:firebrick;
  font-size:1.5em;
  color:white
}

