/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

div.welcome_main_content{
  height: 100%;
  background: url('../images/welcome_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.welcome_screen{
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2.welcome_pt1{
  padding: 0;
  margin: 0;
}
h1.welcome_pt2{
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
}
div.welcome_btn_list {
  padding: 20px;
}

.welcome_btn, button {
  width: 10em;
  padding:7px 30px;
  margin:0 0.5em 0.5em 0;
  display:inline-block;
  background-color:firebrick;
  font-size:1.5em;
  color:white
}

.page_body{
  height: 85%;
  background-color: white;
}

body{
  background-image: url(/static/images/welcome_background.jpg);
}

div.user_html_background{
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  height: 100%;
  background: url('../images/welcome_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.user_html{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2.user_html_header{
  margin-left: 0.2em;
  font-family: Verdana, Geneva, sans-serif;
}



div.user_html_body .control-label{
  font-size: 1.4em;
}

div.user_html_body .form-control{
  border: 1px solid gainsboro;
}

div.user_html_body .btn, button {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 5em;
  padding:7px 15px 10px 15px;
  margin:0 0.5em 0.5em 0.5em;
  display:inline-block;
  background-color:firebrick;
  font-size:1.5em;
  color:white
}

div.user_html_body .reset_pass_btn{
  width: 11em;
  position: absolute;
  left: 0em;
  bottom: -2em;
}

div.lobby_main_content{
    height: 100%;
}